.input-box {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input-box input, .input-box select , .input-box button {
    margin: 10px;
    padding: 8px;
    width: 250px; 
    font-size: 16px; 
    border-radius: 9px;
}

select, #category {
    margin: 10px;
    padding: 8px;
}

#total-expense{
    margin-top: 8%;
    font-weight: 500;
}